body{
    background-image: url("../images/snow.png");    
}
header{
    background-color:white;
    border-bottom: solid 1px gray;
    text-align: center;
    width:100%;
}
.imgHeader{
    height:100px;width:auto;
}
img{
    height: 200px;width: auto;
}
#gameBoard{
    font-family: monospace;
    word-spacing: 20px;
    font-size: 50px;
    letter-spacing: 5px;
}
